<%= form_tag report_filter_url, method: :get do %>
<div class='row'>
  <div class="filter_dates col-md-2">
    <div class="form-group">
      <%= label_tag 'Start Date' %>
        <%= text_field_tag :start_date, "", class: 'form-control col-md-12',
        'data-provide' => 'datepicker', 'data-date-format' => "dd/mm/yyyy" , placeholder: 'dd/mm/yyyy' %>
    </div>
    <div class="form-group">
      <%= label_tag 'Start Date' %>
        <%= text_field_tag :end_date, "", class: 'form-control col-md-12',
        'data-provide' => 'datepicker', 'data-date-format' => "dd/mm/yyyy" , placeholder: 'dd/mm/yyyy' %>
    </div>
  </div>

  <div class="filter_fields offset-md-1">
  <h4>Fields</h4>
    <div class="form-group">
      <%= check_box_tag "fields[connection]", nil, true %>
      <%= label_tag 'Connection' %>

      <%= check_box_tag "fields[app]", nil, true %>
      <%= label_tag 'App' %>

      <%= check_box_tag "fields[platform]", nil, true %>
      <%= label_tag 'Platform' %>
  </div>
    <div class="form-group">
      <%= check_box_tag "fields[country]", nil, true %>
      <%= label_tag 'Country' %>

      <%= check_box_tag "fields[cpm]", nil, true %>
      <%= label_tag 'CPM' %>

      <%= check_box_tag "fields[date]", nil, true, hidden: true%>

    </div>

  </div>
  </div>
  <%= submit_tag 'Filter', class: 'btn btn-primary' %>
    <% end %>
