<table id='report_table' class="report_table table table-hover">
  <thead class='thead-light'>
    <tr>
      <% @fields.each do |field| %>
        <th>
          <%= field.capitalize %>
        </th>
      <% end %>
    </tr>

  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <% @fields.map do |field| %>
          <td>
            <%= field.eql?('cpm') ? ::Application::Cpm.new.render(report) : report.send(field) %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
