<div class='body col-md-12'>
  <h1> Hello to the reports page </h1>

  <h3>The last reports are below:</h3>
  <hr>
  <div class="filters">
    <h4> Filters </h4>
    <%= render "report/shared/filters" %>
  </div>
  <hr>
  <div class="reportr">
    <%= render "report/shared/tables" %>
  </div>
</div
